<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw" crossorigin="anonymous"></script>

	<style>

.dropbtn {
  border-radius:10px;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}


</style>
</head>
<body>
	<p><center><font size = "26" face = "Trebuchet MS">SelfieLessAct</font></center></p>
	<div class="container">
		<nav class="navbar navbar-default">
				<div class="navbar-header">
					<a href="#" class="navbar-brand">SELFLESS ACTS</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#abc" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			  </div>
			   <div class="collapse navbar-collapse" id="abc">
				<ul class="nav navbar-nav">
					<li><a href="home">Home</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Know More</a></li>
					<li><a href="#">About</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="addacts">Upload</a></li>
				</ul>	
				</div>
		</nav>
		<form>
		<div class="form-group">
	<label >Enter act_id:</label> <input type="text" name="actId" class="form-control"><br>
	<label>Enter Category:</label><input type="text" name="category" class="form-control"><br>
	<label>Enter Username: </label><input type="text" name="username" class="form-control"><br>
	<label>Enter Caption:</label> <input type="text" name="caption" class="form-control"><br>
	<label>Select Pic:</label><input type="file" onchange="encodeImageFileAsURL(this)"/><br>
	<center><button type="button" class="btn btn-danger btn-lg btn-block" onclick="add_act(this.form)">Submit</button></center>
	</form>
	</div>
	</div>

</body>
<script type="text/javascript">
	// console.log(Date());
	var reader = new FileReader();
	function encodeImageFileAsURL(element) {
  		var file = element.files[0];
	
  		reader.onloadend = function() {
      			//console.log('RESULT', reader.result)
  		}
  		reader.readAsDataURL(file);
	}
	function add_act(form){
		var actId = form.actId.value;
        	var category = form.category.value;
		var username = form.username.value;
		var caption = form.caption.value;
		//var timestamp = "02-12-2019:04-38-56";
		var imgFile = reader.result.split(",")[1];
		// console.log(reader.result);
         	//console.log(actId +"\n"+category+"\n"+caption+"\n "+imgFile);
		
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function(){
            if (xhr.readyState === 4 && xhr.status == 201) {
                alert(xhr.response);
		window.location.reload(true);
		// var body = document.querySelector("#login");
                //window.location = "/api/v1/home";
                // body.href = ""
                // document.appendChild(body);
            }
            else if(xhr.readyState === 4 && xhr.status == 400){
                alert(xhr.response);
            }
            else if(xhr.readyState === 4){
                // console.log("Error");
                alert(xhr.response);
            }

        }
        
        xhr.open('post', '/api/v1/acts', true);
        // console.log("a");
        xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        xhr.send(JSON.stringify({"actId":actId,"username":username,"caption":caption,"categoryName":category,"imgB64":imgFile}));
}
</script>
</html>


